/* element selector */

h1 {
    color: red; 
}

/* class selector */ 

 .title {
    color: orange; 
}

/* id selector */ 

#title {
    color: purple; 
}

/*pseudo-class */ 

h2:hover {
    color: green; 
}

p {
    font-size: 25px; 
    color: red; 
}


/*combinators */ 

footer p {
    color: blue; 
}




